.newLetter{
    width: 100%;
    height: 100px;
    // height: auto;
    // background-color: red;
    padding: 1rem 0rem;
    position: relative;

    .container{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        top: -50%;
        height: 150px;
        width: 70%;
        background-color: #03B962;
padding: 0rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .left{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 80px;
                height: 80px;
                
            }
            span{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                
                color: #FFFFFF;
                margin-left: 1rem;
            }
        }

        .right{
            width: 50%;
            height: 100%;
            // background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;

            .content{
                width: 100%;
                height: 50%;
                background-color: white;
                border-radius: 30px;
                padding: 0rem 1rem;

                display: flex;
                justify-content: space-around;
                align-items: center;

                input{

                    padding: 1rem 3rem;
                    border-radius: 30px;
                    outline: none;
                    border: none;
                    width: 70%;
                    height: auto;

                }

                button{
                    cursor: pointer;
                    width: 30%;
                    padding: 1rem 2rem;
                    border-radius: 20px;
                    outline: none;
                    border: none;
                    background-color: #03B962;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #FFFFFF;


                    img{
                        margin-left: 10px;
                        width:30px;
                    }
                
                }




            }
        }

    }
}